<h3>Уважаемый(ая), <%= @order.name %>!</h3>

<p>Администрация магазина благодарит Вас за недавний заказ.</p>

<h4>Вы заказали сделующие товары:</h4>

<table>
<%= render @order.line_items %>
</table>

<p>Когда Ваш заказ будет отправлен, мы пошлем Вам по электронной почте отдельное сообщение.</p>